@model EasyToDoWeb.ViewModel.CategoriaViewModel

@{
	var cores = new Dictionary<string, string>
	{
		{ "Vermelho", "red" },
		{ "Azul", "blue" },
		{ "Verde", "green" },
		{ "Laranja", "orange" },
		{ "Roxo", "purple" },
		{ "Cinza", "gray" }
	};

}

<div class="modal fade" id="categoriaModal" tabindex="-1" aria-labelledby="categoriaModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content bg-dark text-light">
			<form id="formCadastrarCategoria">
				<div class="modal-header">
					<h5 class="modal-title">Cadastrar Categoria</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">

					<div class="mb-3">
						<label asp-for="Name" class="form-label">Nome</label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>

					<div class="mb-3">
						<label asp-for="Cor" class="form-label">Cor</label>
						<div class="d-flex align-items-center gap-2">
							<select asp-for="Cor" class="form-select" id="colorSelect">
								@foreach (var cor in cores)
								{
									<option value="@cor.Value">@cor.Key</option>
								}
							</select>

						</div>
						<span asp-validation-for="Cor" class="text-danger"></span>
					</div>

					<div class="mb-3">
						<label asp-for="Situacao" class="form-label">Situação</label>
						<select asp-for="Situacao" class="form-select">
							<option value="1">Ativo</option>
							<option value="0">Inativo</option>
						</select>
						<span asp-validation-for="Situacao" class="text-danger"></span>
					</div>

				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success">Salvar</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts {

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

}